SAP_BASE_URL=https://sandbox.api.sap.com/s4hanacloud/sap/opu/odata/sap
SAP_API_KEY=j6GTuDppKkgfGJqlkrqVlcZlvNAw3tf8
SAP_PLANT=1710
SAP_TOKEN_URL=
SAP_CLIENT_ID=
SAP_CLIENT_SECRET=
SAP_CLIENT=
SAP_USERNAME=
SAP_PASSWORD=
RADARCAP_IMPORT_FOLDER=./radarcap_imports
RADARCAP_EXPORT_FOLDER=./radarcap_exports
RADARCAP_TEMPLATE_FOLDER=./templates
